In [15]:
import duckdb
import pandas as pd
import os
from datetime import datetime

In [8]:
con = duckdb.connect(database='dados_duckdb.db', read_only=False)

In [29]:
arquivo = 'z0019_1.csv'
dataingestao = datetime.now()

In [31]:
df = pd.read_csv(f'../landing/{arquivo}', sep=';')
df['nome_arquivo'] = arquivo
df['data_ingestao'] = dataingestao

df.head()

   NATBR     MAKTX WERKS  MAINS  LABST nome_arquivo              data_ingestao
0  10001  PARAFUSO  BT10    100    100  z0019_1.csv 2025-03-17 21:41:18.368795
1  10002   MARTELO  BT50    100   1500  z0019_1.csv 2025-03-17 21:41:18.368795
2  10003     PREGO  BT10    100     50  z0019_1.csv 2025-03-17 21:41:18.368795

In [33]:
con.execute(""" 
CREATE TABLE IF NOT EXISTS bronze_produtos (
    NATBR VARCHAR,
    MAKTX VARCHAR,
    WERKS VARCHAR,
    MAINS VARCHAR,
    LABST VARCHAR,
    nome_arquivo VARCHAR,
    data_ingestao TIMESTAMP

)
""")

In [34]:
resultado = con.execute("SELECT * FROM bronze_produtos").fetchdf()
resultado.head()

Empty DataFrame
Columns: [NATBR, MAKTX, WERKS, MAINS, LABST, nome_arquivo, data_ingestao]
Index: []

In [35]:
con.execute("INSERT INTO bronze_produtos SELECT * FROM df")

In [36]:
resultado = con.execute("SELECT * FROM bronze_produtos").fetchdf()
resultado.head()

   NATBR     MAKTX WERKS MAINS LABST nome_arquivo              data_ingestao
0  10001  PARAFUSO  BT10   100   100  z0019_1.csv 2025-03-17 21:41:18.368795
1  10002   MARTELO  BT50   100  1500  z0019_1.csv 2025-03-17 21:41:18.368795
2  10003     PREGO  BT10   100    50  z0019_1.csv 2025-03-17 21:41:18.368795

In [37]:
arquivo = 'z0019_2.csv'
dataingestao = datetime.now()
df = pd.read_csv(f'../landing/{arquivo}', sep=';')
df['nome_arquivo'] = arquivo
df['data_ingestao'] = dataingestao

df.head()

   NATBR    MAKTX WERKS  MAINS  LABST nome_arquivo              data_ingestao
0  10004    SERRA  BT50    100    200  z0019_2.csv 2025-03-17 21:50:12.561581
1  10005  MACHADO  BT50    100    100  z0019_2.csv 2025-03-17 21:50:12.561581
2  10003    PREGO  BT10    100     60  z0019_2.csv 2025-03-17 21:50:12.561581

In [38]:
con.execute("INSERT INTO bronze_produtos SELECT * FROM df")

In [40]:
resultado = con.execute("SELECT * FROM bronze_produtos").fetchdf()
resultado.head(7)

   NATBR     MAKTX WERKS MAINS LABST nome_arquivo              data_ingestao
0  10001  PARAFUSO  BT10   100   100  z0019_1.csv 2025-03-17 21:41:18.368795
1  10002   MARTELO  BT50   100  1500  z0019_1.csv 2025-03-17 21:41:18.368795
2  10003     PREGO  BT10   100    50  z0019_1.csv 2025-03-17 21:41:18.368795
3  10004     SERRA  BT50   100   200  z0019_2.csv 2025-03-17 21:50:12.561581
4  10005   MACHADO  BT50   100   100  z0019_2.csv 2025-03-17 21:50:12.561581
5  10003     PREGO  BT10   100    60  z0019_2.csv 2025-03-17 21:50:12.561581

In [41]:
con.execute("ALTER TABLE bronze_produtos RENAME TO bronze_z0019")

In [43]:
con.close()